.rectangle{
  height: 100%;
  width: 100%;
  background-color: #ffc400;
}
.whitebg{
  background-color: white;
  height: 100%;
  width: 100%;
  padding-top: 50px;
}
.core-purpose{
  height: 230px;
  width: 100%;
  background-color: beige;
}
.code-list{
  width: 90%;
  height: 100%;
  padding: 43px 19px 71px 20px;
}
