.logo{
  width: 202px;
	height: 15px;
    display: inline;
    color: #064159;
    font: 21px $lato;
    letter-spacing: 2.1px;
    padding: 22px 0px 21px 10px;

  }
.logo2{
  @extend .logo;
  font-weight: bold;
  padding: 0px;
}
.texthead{
  font-family: $droid;
  font-size: 18px;
  text-align: left;
  line-height: 28px;
  letter-spacing: .9;
  font-weight: bold;
  color: #4e1c07;
}
.content{
  font-family: $droid;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  letter-spacing: .8;
  color: #021d2c;
  padding: 15px 0 15px
}
.upcoming {
	width: 167px;
	height: 11px;
	font-family: $lato;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	letter-spacing: 0.8px;
	text-align: left;
	color: #eb503c;
  padding: 25px 127px 15px 26px;
}
.why{
  font-family: $droid;
  font-weight: bold;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: .9px;
  text-align: left;
  color: #4c1a14;
}
.when{
  font-family: $lato;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: .9;
  text-align: left;
}
.where{
  font-family: $lato;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: .8px;
  text-align: left;
}
.rsvp{
  font-family: $lato;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: .8px;
  line-height: 36px;
  text-align: left;
  text-decoration: none;
  padding-right: 40px;
  color: #4e1c07;
}
.footer {
	width: 172px;
	height: 39px;
	font-family: $lato;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.8px;
	text-align: center;
	color: #6f8998;
  padding: 25px 75px 31px;
  background-color: white;
}
.meet-text{
  font-size: 21px;
  font-family: $droid;
  font-weight: bold;
  color: #4c1a14;
  line-height: 36px;
  margin: 0 36px 69px 25px;
}
section{
  .upcoming{
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
.value{
  margin: 0px 21px 50px 18px;
}
.core{
  font-size: 21px;
  line-height: 28px;
  font-weight: bold;
  font-family: $droid;
  color: #4e1c07;
}
.value-head{
  font-size: 18px;
  line-height: 24px;
  font-family: $droid;
  font-weight: bold;
  font-style: italic;
  line-height: 24px;
  padding: 15px 0 5px;
}
.value-content{
  @extend .value-head;
  font-weight: normal;
  font-style: normal;
  padding: 0;
}
