@media screen and (min-width: 768px){
  body{
    max-width: none;
  }
.rectangle{
  width: 90%;
  height: auto;
  z-index: 1;
  margin: 0 5%;
  position: relative;
  top: -50px;
  display: flex;
  max-height: 500px;
}
.block{
  display: inline;
}
.divider{
  height: auto;
  width: 1px;
  border: 1px solid #ee3e28;
  display: inline;
  z-index: 2;
  margin: 1% 0;
}
.block{
  .content{
    z-index: 1;
    height: 100%;
  }
}
.footer-box{
  display: flex;
  justify-content: space-between;
  margin: 0 5% 0 5%;
}
.bodyspace{
.texthead{
  width: auto;
}
}
.space2{
display: flex;
}
.button{
  margin: 20px 20px;
}
.col{
  display: inline-block;
}
.calebox{
  width: 24%;
  height: auto;
}
[class*="col-"]{
  float: left;
}
.row::after{
  content: "";
  clear: both;
  display: table;
}
.meet-text{
  display: block;
}
.bodyspace{
  width: 48%;
  margin-top: -20px;
}
.whitebg{
  display: flex;
}
.hide{
  display: inline;
}
.value{
  width: 70%;
}
.core-purpose{
  width: 99%;
}
}
