@media screen and (min-width: 768px){
  body{
    max-width: none;
  }
.rectangle{
  width: 90%;
  height: 385px;
  z-index: 1;
  margin-left: 80px;
  position: absolute;
  top: 300px;
}
.block{
  display: inline;
}
.divider{
  height: 95%;
  width: 1px;
  z-index: 1;
}
.block{
  .content{
    width: 50%;
    z-index: 1;
  }
}
.bodyspace{
.texthead{
  width: 50%;
}
}
}
