.hero{
  background: url(image/hero.jpg);
  background-repeat: no-repeat;
  text-align: center;
  width: 320px;
	height: 528px;
}
.herotext{
  font-family: $lato;
  font-size: 36px;
  color: #efe9d8;
  margin: auto;
}
