html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.rectangle {
  height: 100%;
  width: 100%;
  background-color: #ffc400; }

.whitebg {
  background-color: white;
  height: 100%;
  width: 100%;
  padding-top: 50px; }

.core-purpose {
  height: 230px;
  width: 100%;
  background-color: beige; }

.code-list {
  width: 90%;
  height: 100%;
  padding: 43px 19px 71px 20px; }

.techbox {
  padding: 61px 33px 50px 19px; }

.prinbox {
  padding: 50px 50px 39px 19px; }

body {
  min-width: 320px; }

.logo, .logo2 {
  width: 202px;
  height: 15px;
  display: inline;
  color: #064159;
  font: 21px "Lato", Arial, sans-serif;
  letter-spacing: 2.1px;
  padding: 22px 0px 21px 10px; }

.logo2 {
  font-weight: bold;
  padding: 0px; }

.texthead {
  font-family: "Droid Serif", Arial, sans-serif;
  font-size: 18px;
  text-align: left;
  line-height: 28px;
  letter-spacing: .9;
  font-weight: bold;
  color: #4e1c07; }

.content {
  font-family: "Droid Serif", Arial, sans-serif;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  letter-spacing: .8;
  color: #021d2c;
  padding: 15px 0 15px; }

.upcoming {
  width: 167px;
  height: 11px;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left;
  color: #eb503c;
  padding: 25px 127px 15px 26px; }

.why {
  font-family: "Droid Serif", Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: .9px;
  text-align: left;
  color: #4c1a14; }

.when {
  font-family: "Lato", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: .9;
  text-align: left; }

.where {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: .8px;
  text-align: left; }

.rsvp {
  font-family: "Lato", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: .8px;
  line-height: 36px;
  text-align: left;
  text-decoration: none;
  padding-right: 40px;
  color: #4e1c07; }

.footer {
  width: 100%;
  height: 100px;
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-align: center;
  color: #6f8998;
  background-color: white;
  background-color: white; }

.meet-text {
  font-size: 21px;
  font-family: "Droid Serif", Arial, sans-serif;
  font-weight: bold;
  color: #4c1a14;
  line-height: 36px;
  margin: 0 36px 69px 25px; }

section .upcoming {
  margin-top: 5px;
  margin-bottom: 10px; }

.value {
  margin: 0px 21px 50px 18px; }

.core {
  font-size: 21px;
  line-height: 28px;
  font-weight: bold;
  font-family: "Droid Serif", Arial, sans-serif;
  color: #4e1c07; }

.value-head, .value-content {
  font-size: 18px;
  line-height: 24px;
  font-family: "Droid Serif", Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  line-height: 24px;
  padding: 15px 0 5px; }

.value-content {
  font-weight: normal;
  font-style: normal;
  padding: 0; }

.footer-box {
  padding-top: 30px; }

.core-purpose .value {
  padding: 63px 35px 52px 19px; }

.value .core {
  padding-bottom: 20px; }

section .whitebg {
  padding: 0; }

.code-list .content {
  margin: 0;
  line-height: 24px;
  padding: 20px 0 0; }

.code-list .value-head, .code-list .value-content {
  padding-bottom: 0; }

.hero {
  background: url("../image/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  height: 100%; }

.herotext {
  font-family: "Lato", Arial, sans-serif;
  font-size: 36px;
  color: #efe9d8;
  margin: auto;
  height: 153px;
  width: 244px;
  padding: 90px 25px 55px 35px; }

.bodyspace {
  padding: 55px 33px 55px 27px; }

.bodyspace {
  padding: 55px 33px 55px 27px; }

.rectangle {
  height: 100%;
  width: 100%;
  background-color: #ffc400; }

.divider {
  width: 95%;
  height: 1px;
  background-color: #ee3e28;
  margin: 0 auto; }

.box {
  height: 149px;
  width: 256px;
  padding: 15px 127px 15px 26px; }

.space2 {
  margin-bottom: 50px; }

.bar {
  width: 20px;
  height: 3px;
  background-color: black;
  margin: 5px; }

.burger {
  width: 35px;
  height: 35px;
  padding: 2px;
  margin: auto;
  cursor: pointer; }

.ddmenu {
  display: none;
  position: absolute;
  right: 0;
  padding: 10px;
  background-color: #ffab00;
  min-width: 200px;
  z-index: 1;
  text-align: center;
  border: 2px solid black; }

.link {
  display: block;
  font-size: 21px;
  text-decoration: none;
  padding: 20px 0 5px;
  color: #064159; }

.nav {
  height: auto;
  width: auto;
  margin: 10px 20px 0 0;
  position: relative;
  display: inline-block; }

.nav:hover .ddmenu {
  display: block; }

.link:hover {
  height: 20px;
  width: auto;
  background-color: #eb503c; }

.header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffab00; }

.button {
  width: 219px;
  height: 54px;
  background-color: #eb503c;
  margin: 15px auto; }

.button-space {
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 3; }

/*# sourceMappingURL=style.css.map */
